.LandingPage {
  display: flex;
  flex-direction: column;
}

.landing-top,
.landing-bottom {
  flex: 1;
}

.landing-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  background-image: linear-gradient(#f3f27b 10px, transparent 10px),
    linear-gradient(to right, #f3f27b 10px, transparent 10px);
  background-size: 20px 20px;
  background-color: #acf062;
  border-bottom: 2px solid var(--text);
  background-position: 15px 11px;
}

.header-text {
  font-family: IBM Plex Mono;
  font-size: clamp(2vmax, 2vmax, 4rem);
  font-weight: 600;
  color: var(--text);
  width: 60%;
  padding: 2rem;
  text-align: center;
}

#hello-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 85%;
  margin-bottom: 2rem;
}

.Hello {
  background-color: var(--lavender-ish);
  width: fit-content;
  min-width: 15rem;
  height: 7rem;
  text-align: center;
  border: solid 2px var(--text);
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: 500;
  padding: 0 15px 0 15px;
  color: var(--text);
}

.Hello::after {
  content: "";
  position: absolute;
  top: 101%;
  right: 0;
  border-left: 70px solid var(--text);
  border-bottom: 35px solid transparent;
  transform: rotate(0deg);
}

.landing-bottom {
  background-image: url(/img/suminagashi.svg);
  background-size: cover;
  background-color: var(--lavender-ish);
  background-attachment: fixed;
}

.triangle-right {
  position: absolute;
  right: 0;
  margin-top: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 20px solid var(--text);
  border-bottom: 10px solid transparent;
}

.triangle-left {
  position: absolute;
  left: 0;
  margin-top: -11px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid var(--text);
  border-bottom: 10px solid transparent;
}

@media (max-width: 750px) {
  .landing-top {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .header-text {
    width: 100%;
    margin-bottom: 1rem;
  }

  #hello-container {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
    width: 100%;
    transform: scale(0.7);
  }

  .Hello::after {
    display: none;
  }
}
