.green-banner {
  background-color: var(--secondary);
  color: var(--text);
  font-weight: 600;
  border-radius: none;
  border: 2px solid var(--text);
  font-size: 18px;
  width: 11rem;
  height: 2.7rem;
  padding: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  margin-left: -3px;
}

.green-banner p {
  margin-left: 2.5rem;
}

#nextevents-banner {
  margin-top: 1.5rem;
}

.carousel-controls {
  display: flex;
  align-items: center;
  margin-top: -3rem;
  margin-bottom: 5rem;
}

#buttonback {
  border: none;
  margin-left: 40%;
}

#buttonnext {
  border: none;
  margin-left: 15rem;
}

.slider {
  margin: 5rem;
  margin-bottom: 0rem;
}

@media (max-width: 1500px) {
  .slider {
    margin: 3rem;
    transform: scale(0.8);
  }
}

@media (max-width: 900px) {
  #nextevents-banner {
    transform: scale(0.8);
    margin-top: 0.8rem;
    margin-left: -2rem;
  }
  .carousel-controls {
    transform: scale(0.7);
    margin-top: -2.5rem;
    margin-bottom: 4rem;
  }

  #buttonback {
    border: none;
    margin-left: 40%;
  }

  #buttonnext {
    border: none;
    margin-left: 5rem;
  }

  .slider {
    margin: 5rem;
    margin-bottom: 0rem;
  }
}
@media (max-width: 1500px) {
  .slider {
    margin: -7.6rem;
    margin-top: -6.8rem;

    transform: scale(0.5);
  }
}
