.next-events {
  max-width: 100%;
  height: 100%;
}

.green-banner {
  background-color: var(--secondary);
  color: var(--text);
  font-weight: 600;
  border-radius: none;
  border: 2px solid var(--text);
  font-size: 1rem;
  width: 11rem;
  height: 2.7rem;
  padding: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  margin-left: -3px;
}

#nextevents-banner {
  position: relative;
  top: 1rem;
}

#nextevents-banner p {
  text-align: right;
  margin-left: auto;
}

.carousel-controls {
  position: relative;
  display: flex;
  justify-content: center;
  top: -2rem;
}

#buttonback,
#buttonnext {
  position: absolute;
}

#buttonback {
  left: calc(50% - 5rem);
}

#buttonnext {
  left: calc(50% + 5rem);
}

#carousel {
  width: 100%;
  height: auto;
}

.slider-container {
  width: auto;
  margin-top: 2rem;
  margin-left: 3rem;
}

@media (max-width: 750px) {
  #nextevents-banner {
    font-size: 0.8rem;
    transform: scale(0.8);
    margin-left: -2rem;
  }

  .carousel-controls {
    transform: scale(0.8);
    margin-top: 0.3rem;
  }

  #buttonback {
    left: calc(50% - 3rem);
  }

  #buttonnext {
    left: calc(50% + 3rem);
  }
}

@media (max-width: 600px) {
  .carousel-controls {
    transform: scale(0.5);
    margin-top: 0.8rem;
  }

  .slider-container {
    width: auto;
    margin-top: -3rem;
  }
}
