#close-box {
  position: fixed;
  height: 3rem;
  width: 3rem;
  top: 5%;
  left: 90%;
  background-color: var(--secondary);
  border-radius: none;
  outline: none;
  border: 2px solid var(--text);
  z-index: 10001;
  cursor: pointer;
}

#close-img {
  width: 2rem;
  display: block;
  margin: auto;
}

#attendee-title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--text);
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  z-index: 1;
  color: var(--lavender-ish);
  margin-right: 4.5rem;
  margin-bottom: 3rem;
}

.confirmation-box {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.no-attendees {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  color: var(--text);
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  z-index: 1;
  color: var(--lavender-ish);
}

.event-attendees-list > li {
  display: block;
  margin: 1rem;
  list-style: none;
}

.attendee-info {
  display: flex;
  align-items: center;
}

.attendee-info > span {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--lavender-ish);
}

.list-avatar {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border: dashed;
  margin-right: 0.5rem;
  margin-bottom: 0.7rem;
}

.event-attendees-list {
  max-height: 70vh;
  max-width: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.event-attendees-list::-webkit-scrollbar {
  display: none;
}

.attendees-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 0.5rem;
}

#no-attendees {
  padding: 2rem;
}

@media (max-width: 900px) {
  #close-box {
    left: 85%;
  }
  #no-attendees {
    font-size: 2.3rem;
  }
}
