#button-signme {
  background-color: var(--yellow-ish);
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: pointer;
  color: var(--text);
  font-weight: 200;
  border-radius: none;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

#button-signme:hover {
  background-color: #dd9ef6;
}

#icon-signme {
  margin-right: 0.5rem;
}

#signin-first {
  background-color: var(--primary);
  font-size: 1.2rem;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  cursor: pointer;
  color: var(--text);
  border-radius: none;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  transition: background-color 0.3s ease;
}

.sign-in-message {
  justify-content: center;
}

#signin-first:hover {
  background-color: var(--yellow-ish);
}

#confirmation-box-attend {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40rem;
  overflow: auto;
  background-color: var(--primary);
  transform: translate(-50%, -50%);
  border-radius: none;
  outline: none;
  border: 2px solid var(--text);
  box-shadow: 3px 3px 0 1px rgba(24, 3, 37);
  padding: 20px;
  z-index: 1000;
  transition: background-color 0.3s ease;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

#delete-yes.clicked-animation,
#delete-no.clicked-animation {
  transform: translate(-3px, 3px);
  box-shadow: none;
}

@media (max-width: 700px) {
  #delete-yes,
  #delete-no,
  .no-attendees {
    transform: scale(0.8);
  }
  #confirmation-box-attend {
    /* transform: scale(70%); */
  }
}
