.sign-out-button {
  margin-right: 1rem;
}

.sign-out-link {
  text-decoration: none;
  color: var(--text);
  transition: background-color 0.3s ease;
}

.sign-out-link:hover {
  color: var(--primary);
}
